<!--
  Generated template for the CourseDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{course?.name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h2>{{course?.name}}</h2>
  <h3>Sessions</h3>
  <ion-list *ngIf ="course">
      <button ion-item *ngFor="let session of course.sessions" (click)="sessionTapped($event, session)">
        {{session.startDate | date:"d.MM.y" }} de {{session.startDate | date:"hh:mm" }} à {{session.endDate | date:"h:mm" }}
    </button>   
  </ion-list>
  <h3>Lieu</h3>
    <ion-list *ngIf ="course">
      <ion-item>
        {{course?.location.street}}
      </ion-item>
      <ion-item>
        {{course?.location.postcode}}  {{course.location.city | capitalize}}
      </ion-item>
        <ion-item>
        {{course?.location.state | capitalize}}
      </ion-item>
  </ion-list>
</ion-content>
