<!--
  Generated template for the StudentDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{firstname}} {{lastname}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="profile">
  <ion-grid>
        <ion-row center>
              <ion-col *ngIf ="student">
                <ion-avatar class="profilePicture">
                    <img [src]="student?.picture?.large"/>
                  </ion-avatar>
                <h3 class="title">
                      {{student.name.first |capitalize}} {{student.name.last | blablo}}
                </h3>
              </ion-col>
        </ion-row>
  </ion-grid>
  <ion-list *ngIf ="student">
      <ion-item-divider color="light">Général</ion-item-divider> 
      <ion-item>
        <ion-icon name="mail" item-start></ion-icon>
        <a href="mailto:{{student.email}}">{{student.email}}</a>
      </ion-item>
      <ion-item><ion-icon name="phone-portrait" item-start></ion-icon>
        <a href="tel:0041788979395">078 897 93 95</a>
      </ion-item>
        <ion-item-divider color="light">Adresse</ion-item-divider>
        <address-list [location]="student.location"></address-list>        
  </ion-list>
 </ion-content>
